body {
  font-size: 18px;
  letter-spacing: 1.25px;
}

.bd-logo {
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  letter-spacing: .07rem;
}

#logo-card {
  height: 90px;
}

#mod-card {
width: 60%;
}

.logo2 {
  text-align: center;
}
.footer {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  padding-bottom: 10px;
  letter-spacing: .05rem;
}

/*#modal-mod {
  height: 300px;
  width: 400px;
}*/

#iframe-without-text {
	position: relative;
	width: 260px;
	height: 120px;
	overflow: hidden;
	margin: auto;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#iframe-2 {
	position: absolute;
	top: -75px;
	left: -115px;
	overflow: hidden;
}
